<section id="menu" class="section menu">
    <div class="container menu__container">
      <h2 class="menu__title">Меню ресторану</h2>
      <div class="menu__flex">
        <div class="menu__wrap">
          <table class="dishes__table">
            <caption class="dishes__basis">
              Гарячі страви
            </caption>
            <tbody>
              <tr class="menu__card-x">
                <td class="dishes__denotation">Борщ з телятини з квасолею</td>
                <td rowspan="2" class="dishes__weight">400 г</td>
                <td rowspan="2" class="dishes__price">240 грн</td>
              </tr>
              <tr class="menu__card">
                <td class="dishes__storage">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </td>
              </tr>

              <tr class="menu__card-x">
                <td class="dishes__denotation">Суп сирний з куркою</td>
                <td rowspan="2" class="dishes__weight">400 г</td>
                <td rowspan="2" class="dishes__price">200 грн</td>
              </tr>
              <tr class="menu__card">
                <td class="dishes__storage">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </td>
              </tr>

              <tr class="menu__card-x">
                <td class="dishes__denotation">Паста карбонара</td>
                <td rowspan="2" class="dishes__weight">350 г</td>
                <td rowspan="2" class="dishes__price">430 грн</td>
              </tr>

              <tr class="menu__card">
                <td class="dishes__storage">
                  Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                </td>
              </tr>

              <tr class="menu__card-x">
                <td class="dishes__denotation">Стейк зі свинини</td>
                <td rowspan="2" class="dishes__weight">400 г</td>
                <td rowspan="2" class="dishes__price">500 грн</td>
              </tr>

              <tr class="menu__card">
                <td class="dishes__storage">
                  Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                  овочами
                </td>
              </tr>

              <tr class="menu__card-x">
                <td class="dishes__denotation">
                  Горбуша в соусі з білого вина
                </td>
                <td rowspan="2" class="dishes__weight">400 г</td>
                <td rowspan="2" class="dishes__price">400 грн</td>
              </tr>

              <tr class="menu__card">
                <td class="dishes__storage">
                  Ніжна горбуша, вершковий соус на основі білого вина
                </td>
              </tr>
            </tbody>
          </table>

          <table class="dishes__table">
            <caption class="dishes__basis">
              Гарніри та закуски
            </caption>
            <tbody>
              <tr class="menu__card-x">
                <td class="dishes__denotation">Запечені овочі</td>
                <td rowspan="2" class="dishes__weight">200 г</td>
                <td rowspan="2" class="dishes__price">230 грн</td>
              </tr>

              <tr class="menu__card">
                <td class="dishes__storage">
                  Кабачок, перець, помідор, баклажан
                </td>

                <td></td>
              </tr>

              <tr class="menu__card-x">
                <td class="dishes__denotation">Картопля фрі</td>
                <td rowspan="2" class="dishes__weight">150 г</td>
                <td rowspan="2" class="dishes__price">160 грн</td>
              </tr>

              <tr class="menu__card">
                <td class="dishes__storage">Картопля, соус томатний</td>
              </tr>

              <tr class="menu__card-x">
                <td class="dishes__denotation">Картопля по-селянськи</td>
                <td rowspan="2" class="dishes__weight">150 г</td>
                <td rowspan="2" class="dishes__price">160 грн</td>
              </tr>

              <tr class="menu__card">
                <td class="dishes__storage">
                  Картопля, спеції, соус пікантний
                </td>
              </tr>

              <tr class="menu__card-x">
                <td class="dishes__denotation">Хрумкі соління з бочки</td>
                <td rowspan="2" class="dishes__weight">250 г</td>
                <td rowspan="2" class="dishes__price">350 грн</td>
              </tr>

              <tr class="menu__card">
                <td class="dishes__storage">
                  Огірок солений, помідор квашений, квашена капуста, морква
                  по-корейські
                </td>
              </tr>

              <tr class="menu__card-x">
                <td class="dishes__denotation">
                  Крильця курячі в медовому соусі
                </td>
                <td rowspan="2" class="dishes__weight">400 г</td>
                <td rowspan="2" class="dishes__price">420 грн</td>
              </tr>

              <tr class="menu__card">
                <td class="dishes__storage">
                  Крильця курячі, гірчично-медовий соус, подається з морквою,
                  селерою і соусом блючиз
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="menu__wrap">
          <table class="dishes__table">
            <caption class="dishes__basis">
              Салати
            </caption>
            <tbody>
              <tr class="menu__card-x">
                <td class="dishes__denotation">Цезар з куркою</td>
                <td rowspan="2" class="dishes__weight">230 г</td>
                <td rowspan="2" class="dishes__price">450 грн</td>
              </tr>

              <tr class="menu__card">
                <td class="dishes__storage">
                  Куряче філе, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </td>
              </tr>

              <tr class="menu__card-x">
                <td class="dishes__denotation">Цезар з креветками</td>
                <td rowspan="2" class="dishes__weight">230 г</td>
                <td rowspan="2" class="dishes__price">300 грн</td>
              </tr>
              <tr class="menu__card">
                <td class="dishes__storage">
                  Тигрові креветки, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </td>
              </tr>

              <tr class="menu__card-x">
                <td class="dishes__denotation">Грецький салат</td>
                <td rowspan="2" class="dishes__weight">230 г</td>
                <td rowspan="2" class="dishes__price">280 грн</td>
              </tr>
              <tr class="menu__card">
                <td class="dishes__storage">
                  Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                  листя салату, соус
                </td>
              </tr>

              <tr class="menu__card-x">
                <td class="dishes__denotation">М’ясний салат</td>
                <td rowspan="2" class="dishes__weight">230 г</td>
                <td rowspan="2" class="dishes__price">300 грн</td>
              </tr>
              <tr class="menu__card">
                <td class="dishes__storage">
                  Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                  болгарський перець, соус ранч
                </td>
              </tr>
            </tbody>
          </table>
          <table class="dishes__table">
            <caption class="dishes__basis">
              Десерти
            </caption>
            <tbody>
              <tr class="menu__card-y">
                <td class="dishes__denotation"><p>Торт наполеон</p></td>
                <td class="dishes__weight">230 г</td>
                <td class="dishes__price">300 грн</td>
              </tr>
              <tr class="menu__card-y">
                <td class="dishes__denotation"><p>Торт маковий</p></td>
                <td class="dishes__weight">230 г</td>
                <td class="dishes__price">300 грн</td>
              </tr>
              <tr class="menu__card-y">
                <td class="dishes__denotation">Тірамісу</td>
                <td class="dishes__weight">120 г</td>
                <td class="dishes__price">260 грн</td>
              </tr>
            </tbody>
          </table>
          <table class="dishes__table">
            <caption class="dishes__basis">
              Напої
            </caption>
            <tbody>
              <tr class="menu__card-y">
                <td class="dishes__denotation"><p>Чай чорний/зелений</p></td>
                <td class="dishes__weight">500 мл</td>
                <td class="dishes__price">100 грн</td>
              </tr>
              <tr class="menu__card-y">
                <td class="dishes__denotation"><p>Еспресо</p></td>
                <td class="dishes__weight">30 мл</td>
                <td class="dishes__price">100 грн</td>
              </tr>
              <tr class="menu__card-y">
                <td class="dishes__denotation"><p>Американо</p></td>
                <td class="dishes__weight">150 мл</td>
                <td class="dishes__price">100 грн</td>
              </tr>
              <tr class="menu__card-y">
                <td class="dishes__denotation"><p>Капучино</p></td>
                <td class="dishes__weight">200 мл</td>
                <td class="dishes__price">160 грн</td>
              </tr>
              <tr class="menu__card-y">
                <td class="dishes__denotation"><p>Лате</p></td>
                <td class="dishes__weight">200 мл</td>
                <td class="dishes__price">160 грн</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button type="button" class="menu__button" data-modal-open-book-table>Забронювати столик</button>
    </div>
  </div>
</section>
