p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

table,
tbody,
caption,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-size: inherit;
  vertical-align: baseline;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
