$accentColor: #F3C653;
$secondaryAccentColor: #C79002;
$mainDarkColor: #000000;
$mainLightColor: #FFFFFF;
$AddressСolor: #E5E5E5;
$pretitleColor: #B4B4B4;
$primaryTitleColor: #828282;
$secondaryTitleColor: #494848;
$primaryTextColor: #5F5F5F;
$secondaryTextColor: #7A7A7A;
$heroTextColor: #BABABA;
$AccentBorderColor: rgba(243, 198, 83, 0.7);

$PrimaryBgPrimaryColor: #FFFDEE;
$SecondaryBgColor: #F0ECD6;
$footerBgColor: #0E0C07;
$buttonBgColor: rgba(0, 0, 0, 0.4);
$heroBgColor: rgba(0, 0, 0, 0.65);

$modalPlaceholderColor: #808080;