<section class="hero__hotel">
  <div class="container">
  <div class="hero__subcontainer">
    <h2 class="hotel__title_hero">ТРЬХОМІСНИЙ НОМЕР</h2>
    <p class="hotel__aftetitle_hero">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    
<a href="#" class="rest__address_hero link"><svg class="header__icon icon-location" wight="20" height="20">
    <use href="./images/icons.svg#icon-location"></use>
  </svg> 
    Україна, м. Полтава, вул. Маршала Бірюзова, 15</a>
    <div class="hero-btn-soc">
      <button type="button" class="button-primary button-primary-hotel" data-modal-open-room-price-tbl>Переглянути ціни</button>
      <ul class="hero__socials-hotel_hero">
        <li class="hero__socials__link"> <a href="https://www.instagram.com/mimino.poltava/" target="_blank" rel="nofollow noopener noreferrer">
            <svg class="hero__soc__icon" wight="22" height="22">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg></a></li>
        <li class="hero__socials__link"> <a href="https://www.facebook.com" target="_blank" rel="nofollow noopener noreferrer"><svg class="hero__soc__icon" wight="22" height="22">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg></a></li>
        <li class="hero__socials__link"> <a href="https://web.telegram.org/" target="_blank" rel="nofollow noopener noreferrer"></a><svg class="hero__soc__icon" wight="22" height="22">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg></a></li>
    </ul>
    </div>
</div>
</div> 
</section>