.room__info {
    @include mobile {
padding-top: 32px;
padding-bottom: 32px;
    }
    @include tablet {
        padding-top: 48px;
            padding-bottom: 40px;
    }

}
.room__info-title {
    @media screen and (min-width:320px) and (max-width:413px) {
                margin-bottom: 10px;
                font-family: 'Times New Roman';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 1.68;
                color: $mainDarkColor;

    }
    @include mobile {
margin-bottom: 16px;
font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    color: $mainDarkColor;
    }
}
.room__info-description {
    @media screen and (min-width:320px) and (max-width:413px) {
        margin-bottom: 10px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        
            color: $secondaryTextColor;
    }
    @include mobile {
        margin-bottom: 32px;
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.02em;
        
            color: $secondaryTextColor;
    }
.room__features-title {
    @media screen and (min-width:320px) and (max-width:413px) {
        margin-bottom: 10px;
            font-family: 'Film P3';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 2;
            color: $mainDarkColor;
    }
    @include mobile {
        margin-bottom: 16px;
                font-family: 'Film P3';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 1.16;
                    color: $mainDarkColor;
                }
    }

.room__features-item{
    @include mobile {
            margin-bottom: 32px;
        }
}

.room__features-description {
    @media screen and (min-width:320px) and (max-width:413px) {
            font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 1.5;
                letter-spacing: 0.02em;
            
                color: $secondaryTextColor;
    }
    @include mobile {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
    
        color: $secondaryTextColor;
    }
    @include tablet {
        max-width: 400px;
    }
}

.feature-column-1 {
    @include mobile {
            margin-bottom: 16px;
        }
}   
.room__features-item:last-child{
    @include mobile {
            margin-bottom: 0;
        }
}
.room__nav {
    @include mobile {
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        
    }
        @include tablet {
            align-items: flex-end;
        }
                 @include desktop {
                max-width: 959px;
}
}

.room__booking-button {
    transition: background .25s linear, border .25s linear;
        @media screen and (min-width:320px) and (max-width:413px) {
                margin-bottom: 10px;
                margin-top: 10px;
                background-color: $mainDarkColor;
                width: 280px;
                height: 54px;
                border-radius: 25px;
                border: 1px solid $accentColor;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
        
                color: $mainLightColor;
            }

    @include mobile {
        margin-bottom: 20px;
        background-color: $mainDarkColor;
        width: 384px;
        height: 64px;
        border-radius: 25px;
        border: 1px solid $accentColor;
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
        
            color: $mainLightColor;
    }
        @include tablet {
            margin-bottom: 32px;
                    font-size: 24px;
                    width: 434px;
                }
}

.room__back-link {

    display: flex;
        transition: color .25s cubic-bezier(.4, 0, .2, 1);

    @media screen and (min-width:320px) and (max-width:413px) {
        
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 1.66;
                letter-spacing: 0.02em;
                color: $secondaryAccentColor;
                fill: $secondaryAccentColor;
                margin-left: 16px;
            }

    @include mobile {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $secondaryAccentColor;
        fill: $secondaryAccentColor;
        margin-left: 16px;
    }
        @include tablet {
margin-left: 0;
font-size: 20px;
        }
}

.room__features-columns {
@include tablet {
    display: flex;
    gap: 80px;
}
                @include desktop {
                    max-width: 959px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 0;
                }
}


.room__vanna-description {
    @include desktop {
        min-width: 495px;
    }
}

.room__back-icon {
    margin-left: 17px;
}
.room__back-link:hover,
.room__back-link:focus {
    color: $accentColor;
    fill: $accentColor;
}
    
 .room__booking-button:hover,
 .room__booking-button:focus {
    background-color: $accentColor;
    color: $mainDarkColor;
    cursor: pointer;
 }