@import './about-restaurant';
@import './details-restaurant';
@import './about-hotel';
@import './details-hotel';
@import './main-hotel';
@import './double-lux';
@import './restaurant/about-kitchen';
