<section>
  <!-- Скрити -->
  <h3 class="visually-hidden">Варіанти номерів готелю</h3>
  <ul>
    <li>
      <p>Amet minim mollit non</p>
      <p>MIMIHO</p>
      <h4>ДВОМІСНИЙ НОМЕР люкс</h4>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img src="#" alt="Інтер'єр готелю" width="244" height="322" />
      <div class="one-time">
        <div><h3>1</h3></div>
        <div><h3>2</h3></div>
        <div><h3>3</h3></div>
        <div><h3>4</h3></div>
        <div><h3>5</h3></div>
        <div><h3>6</h3></div>
      </div>
      <a href="#">Детальніше</a>
      <button type="button">Переглянути ціни</button>
    </li>
  </ul>
</section>
