<section class="hotel">
  <div class="container overflow-hidden">
    <p class="hotel__text">Amet minim mollit non</p>
    <p class="hotel__logo">MIMIHO</p>
    <h4 class="hotel__title">ДВОМІСНИЙ НОМЕР</h4>
    <p class="hotel__aftetitle">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="hotel__thumb">
      <picture>
        <source
          srcset="
            ./images/hotel/desktop/htpg-2-ds.jpg   1x,
            ./images/hotel/desktop/htpg-2-ds2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel/tablet/htpg-2-tb.jpg   1x,
            ./images/hotel/tablet/htpg-2-tb2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel/mobile/htpg-2-mb.jpg   1x,
            ./images/hotel/mobile/htpg-2-mb2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          src="./images/hotel/desktop/htpg-2-ds.jpg"
          alt="Інтер'єр готелю"
          width="460"
        />
      </picture>
    </div>
    <div class="hotel__slider-wrap">
      <div class="hotel-slider">
        <div class="hotel-slider__item">
          <picture>
            <source
              srcset="
                ./images/hotel/desktop/htpg-3sl-ds.jpg   1x,
                ./images/hotel/desktop/htpg-3sl-ds2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel/tablet/htpg-3sl-tb.jpg   1x,
                ./images/hotel/tablet/htpg-3sl-tb2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="./images/hotel/desktop/htpg-3sl-ds.jpg"
              alt="Інтер'єр готелю"
              width="254"
            />
          </picture>
        </div>
        <div class="hotel-slider__item">
          <picture>
            <source
              srcset="
                ./images/hotel/desktop/htpg-4sl-ds.jpg   1x,
                ./images/hotel/desktop/htpg-4sl-ds2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel/tablet/htpg-4sl-tb.jpg   1x,
                ./images/hotel/tablet/htpg-4sl-tb2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="./images/hotel/desktop/htpg-4sl-ds.jpg"
              alt="Інтер'єр готелю"
              width="254"
            />
          </picture>
        </div>
        <div class="hotel-slider__item">
          <picture>
            <source
              srcset="
                ./images/hotel/desktop/htpg-5sl-ds.jpg   1x,
                ./images/hotel/desktop/htpg-5sl-ds2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel/tablet/htpg-5sl-tb.jpg   1x,
                ./images/hotel/tablet/htpg-5sl-tb2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="./images/hotel/desktop/htpg-5sl-ds.jpg"
              alt="Інтер'єр готелю"
              width="254"
            />
          </picture>
        </div>
        <div class="hotel-slider__item">
          <picture>
            <source
              srcset="
                ./images/hotel/desktop/htpg-7sl-ds.jpg   1x,
                ./images/hotel/desktop/htpg-7sl-ds2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel/tablet/htpg-7sl-tb.jpg   1x,
                ./images/hotel/tablet/htpg-7sl-tb2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="./images/hotel/desktop/htpg-7sl-ds.jpg"
              alt="Інтер'єр готелю"
              width="254"
            />
          </picture>
        </div>
        <div class="hotel-slider__item">
          <picture>
            <source
              srcset="
                ./images/hotel/desktop/htpg-8sl-ds.jpg   1x,
                ./images/hotel/desktop/htpg-8sl-ds2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel/tablet/htpg-8sl-tb.jpg   1x,
                ./images/hotel/tablet/htpg-8sl-tb2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="./images/hotel/desktop/htpg-8sl-ds.jpg"
              alt="Інтер'єр готелю"
              width="254"
            />
          </picture>
        </div>
        <div class="hotel-slider__item">
          <picture>
            <source
              srcset="
                ./images/hotel/desktop/htpg-9sl-ds.jpg   1x,
                ./images/hotel/desktop/htpg-9sl-ds2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel/tablet/htpg-9sl-tb.jpg   1x,
                ./images/hotel/tablet/htpg-9sl-tb2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="./images/hotel/desktop/htpg-9sl-ds.jpg"
              alt="Інтер'єр готелю"
              width="254"
            />
          </picture>
        </div>
        <div class="hotel-slider__item">
          <picture>
            <source
              srcset="
                ./images/hotel/desktop/htpg-11sl-ds.jpg   1x,
                ./images/hotel/desktop/htpg-11sl-ds2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel/tablet/htpg-11sl-tb.jpg   1x,
                ./images/hotel/tablet/htpg-11sl-tb2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="./images/hotel/desktop/htpg-11sl-ds.jpg"
              alt="Інтер'єр готелю"
              width="254"
            />
          </picture>
        </div>
        <div class="hotel-slider__item">
          <picture>
            <source
              srcset="
                ./images/hotel/desktop/htpg-12sl-ds.jpg   1x,
                ./images/hotel/desktop/htpg-12sl-ds2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel/tablet/htpg-12sl-tb.jpg   1x,
                ./images/hotel/tablet/htpg-12sl-tb2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="./images/hotel/desktop/htpg-12sl-ds.jpg"
              alt="Інтер'єр готелю"
              width="254"
            />
          </picture>
        </div>
        <div class="hotel-slider__item">
          <picture>
            <source
              srcset="
                ./images/hotel/desktop/htpg-13sl-ds.jpg   1x,
                ./images/hotel/desktop/htpg-13sl-ds2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel/tablet/htpg-13sl-tb.jpg   1x,
                ./images/hotel/tablet/htpg-13sl-tb2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="./images/hotel/desktop/htpg-13sl-ds.jpg"
              alt="Інтер'єр готелю"
              width="254"
            />
          </picture>
        </div>
      </div>
      <div class="hotel__btn-wrap">
        <a href="./double-room.html" class="hotel__link button-secondary"
          >Детальніше</a
        >
        <button
          type="button"
          class="hotel__button button-secondary js-open-modal"
          data-modal="3"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
