<section class="about-restaurant">
  <div class="container">
    <h2 class="visually-hidden">Наш ресторан</h2>
    <p class="about-restaurant__subtitle">Amet minim mollit non</p>
    <p class="about-restaurant__logo">Mіміно</p>
    <ul class="info-cards">
      <li class="info-card">
        <p class="info-card__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="info-card__thumb">
          <picture>
            <source
              srcset="
                ./images/home/desktop/hmpg-2-ds.jpg    1x,
                ./images/home/desktop/hmpg-2-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-2-tb.jpg    1x,
                ./images/home/tablet/hmpg-2-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-2-mb.jpg    1x,
                ./images/home/mobile/hmpg-2-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
            <img
              src="./images/home/mobile/hmpg-2-mb.jpg"
              alt="ресторан зі столами і посудом на них"
              sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, 244px"
            />
          </picture>
        </div>
      </li>
      <li class="info-card">
        <p class="info-card__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="info-card__thumb">
          <picture>
            <source
              srcset="
                ./images/home/desktop/hmpg-3-ds.jpg    1x,
                ./images/home/desktop/hmpg-3-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-3-tb.jpg    1x,
                ./images/home/tablet/hmpg-3-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-3-mb.jpg    1x,
                ./images/home/mobile/hmpg-3-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
            <img
              src="./images/home/mobile/hmpg-3-mb.jpg"
              alt="зал ресторану зі столами, стулами та лампами"
              sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, 244px"
            />
          </picture>
        </div>
      </li>
    </ul>
    <ul class="slider-about about-restaurant__slider">
      <li class="slider-about__item">
        <picture>
          <source
              srcset="
                ./images/home/desktop/hmpg-4sl-ds.jpg    1x,
                ./images/home/desktop/hmpg-4sl-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-4sl-tb.jpg    1x,
                ./images/home/tablet/hmpg-4sl-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-4sl-mb.jpg    1x,
                ./images/home/mobile/hmpg-4sl-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
          <img
            src="./images/home/mobile/hmpg-4sl-mb.jpg"
            alt="бокали з вином на столі"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
          />
        </picture>
      </li>
      <li class="slider-about__item">
        <picture>
          <source
              srcset="
                ./images/home/desktop/hmpg-5sl-ds.jpg    1x,
                ./images/home/desktop/hmpg-5sl-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-5sl-tb.jpg    1x,
                ./images/home/tablet/hmpg-5sl-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-5sl-mb.jpg    1x,
                ./images/home/mobile/hmpg-5sl-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
          <img
            src="./images/home/mobile/hmpg-5sl-mb.jpg"
            alt="стіл з посудом"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
          />
        </picture>
      </li>
      <li class="slider-about__item">
        <picture>
          <source
              srcset="
                ./images/home/desktop/hmpg-6sl-ds.jpg    1x,
                ./images/home/desktop/hmpg-6sl-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-6sl-tb.jpg    1x,
                ./images/home/tablet/hmpg-6sl-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-6sl-mb.jpg    1x,
                ./images/home/mobile/hmpg-6sl-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
          <img
            src="./images/home/mobile/hmpg-6sl-mb.jpg"
            alt="диван біля столу"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
          />
        </picture>
      </li>
      <li class="slider-about__item">
        <picture>
          <source
              srcset="
                ./images/home/desktop/hmpg-7sl-ds.jpg    1x,
                ./images/home/desktop/hmpg-7sl-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-7sl-tb.jpg    1x,
                ./images/home/tablet/hmpg-7sl-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-7sl-mb.jpg    1x,
                ./images/home/mobile/hmpg-7sl-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
          <img
            src="./images/home/mobile/hmpg-7sl-mb.jpg"
            alt="стіл з напоями і стравами"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
