<section class="about-hotel">
  <div class="container">
    <h2 class="visually-hidden">Наш готель</h2>
    <p class="about-hotel__subtitle">Amet minim mollit non</p>
    <p class="about-hotel__logo">Mіміно</p>
    <ul class="info-cards">
      <li class="info-card info-card--mirrored">
        <p class="info-card__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="info-card__thumb">
          <picture>
            <img
              src=""
              alt=""
              sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, 244px"
            />
          </picture>
        </div>
      </li>
      <li class="info-card info-card--mirrored">
        <p class="info-card__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="info-card__thumb">
          <picture>
            <img
              src=""
              alt=""
              sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, 244px"
            />
          </picture>
        </div>
      </li>
    </ul>
    <ul class="slider-about about-hotel__slider">
      <li class="slider-about__item">
        <picture>
          <img
            src=""
            alt=""
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
          />
        </picture>
      </li>
      <li class="slider-about__item">
        <picture>
          <img
            src=""
            alt=""
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
          />
        </picture>
      </li>
      <li class="slider-about__item">
        <picture>
          <img
            src=""
            alt=""
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
          />
        </picture>
      </li>
      <li class="slider-about__item">
        <picture>
          <img
            src=""
            alt=""
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
