<section class="about-hotel">
  <div class="container">
    <h2 class="visually-hidden">Наш готель</h2>
    <p class="about-hotel__subtitle">Amet minim mollit non</p>
    <p class="about-hotel__logo">Mіміно</p>
    <ul class="info-cards">
      <li class="info-card info-card--mirrored">
        <p class="info-card__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="info-card__thumb">
          <picture>
            <source
              srcset="
                ./images/home/desktop/hmpg-13-ds.jpg    1x,
                ./images/home/desktop/hmpg-13-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-13-tb.jpg    1x,
                ./images/home/tablet/hmpg-13-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-13-mb.jpg    1x,
                ./images/home/mobile/hmpg-13-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
            <img
              src="./images/home/mobile/hmpg-13-mb.jpg"
              alt="номер у готелі з ліжком і диваном"
              sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, 244px"
            />
          </picture>
        </div>
      </li>
      <li class="info-card info-card--mirrored">
        <p class="info-card__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="info-card__thumb">
          <picture>
            <source
              srcset="
                ./images/home/desktop/hmpg-14-ds.jpg    1x,
                ./images/home/desktop/hmpg-14-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-14-tb.jpg    1x,
                ./images/home/tablet/hmpg-14-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-14-mb.jpg    1x,
                ./images/home/mobile/hmpg-14-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
            <img
              src="./images/home/mobile/hmpg-14-mb.jpg"
              alt="лоббі готелю з каміном, диваном та кріслами"
              sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, 244px"
            />
          </picture>
        </div>
      </li>
    </ul>
    <ul class="slider-about about-hotel__slider">
      <li class="slider-about__item">
        <picture>
          <source
              srcset="
                ./images/home/desktop/hmpg-15sl-ds.jpg    1x,
                ./images/home/desktop/hmpg-15sl-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-15sl-tb.jpg    1x,
                ./images/home/tablet/hmpg-15sl-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-15sl-mb.jpg    1x,
                ./images/home/mobile/hmpg-15sl-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
          <img
            src="./images/home/mobile/hmpg-15sl-mb.jpg"
            alt="рецепціоністка обслуговує клієнта готелю"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
          />
        </picture>
      </li>
      <li class="slider-about__item">
        <picture>
          <source
              srcset="
                ./images/home/desktop/hmpg-16sl-ds.jpg    1x,
                ./images/home/desktop/hmpg-16sl-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-16sl-tb.jpg    1x,
                ./images/home/tablet/hmpg-16sl-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-16sl-mb.jpg    1x,
                ./images/home/mobile/hmpg-16sl-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
          <img
            src="./images/home/mobile/hmpg-16sl-mb.jpg"
            alt="скручені рушники на ліжку"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
          />
        </picture>
      </li>
      <li class="slider-about__item">
        <picture>
          <source
              srcset="
                ./images/home/desktop/hmpg-17sl-ds.jpg    1x,
                ./images/home/desktop/hmpg-17sl-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-17sl-tb.jpg    1x,
                ./images/home/tablet/hmpg-17sl-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-17sl-mb.jpg    1x,
                ./images/home/mobile/hmpg-17sl-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
          <img
            src="./images/home/mobile/hmpg-17sl-mb.jpg"
            alt="раковина з рушником"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
          />
        </picture>
      </li>
      <li class="slider-about__item">
        <picture>
          <source
              srcset="
                ./images/home/desktop/hmpg-18sl-ds.jpg    1x,
                ./images/home/desktop/hmpg-18sl-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-18sl-tb.jpg    1x,
                ./images/home/tablet/hmpg-18sl-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-18sl-mb.jpg    1x,
                ./images/home/mobile/hmpg-18sl-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
          <img
            src="./images/home/mobile/hmpg-18sl-mb.jpg"
            alt="диван зі столиком і дзеркалом на стіні"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
