<div class="backdrop is-hidden" data-modal-book-table>
  <div class="modal">
    <button type="button" class="modal-close" data-modal-close-book-table>
      <svg class="modal-close-icon" width="18px" height="18px">
        <use href="./images/icons.svg#icon-close_modal"></use>
      </svg>
    </button>

    <h2 class="modal-title">ЗАБРОНЮВАТИ СТОЛИК</h2>
    <form class="modal-form">
      <div class="modal-wrap">
        <input
          type="text"
          name="user-name"
          class="modal-input"
          placeholder="Ваше ім’я"
          pattern="\w{3,16}"
          required
          id="user-name"
        />

        <label for="user-name" class="user-name-text"
          >На кого забронювати столик?</label
        >
      </div>
      <div class="modal-wrap">
        <input
          type="tel"
          name="user-tel"
          class="modal-input"
          placeholder="+38 (___) ___-__-__"
          pattern="+[0-9]{3}-[0-9]{3}-[0-9]{4}"
          required
          id="user-tel"
        />
        <label for="user-tel" class="user-name-text">Номер телефону</label>
      </div>
      <div class="modal-wrap">
        <select id="user-number" name="user-number" class="modal-input">
          <option value="1">1</option>
          <option value="2" selected>2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
        <label for="user-number" class="user-name-text"
          >Столик на яку кількість осіб?</label
        >
      </div>
      <div class="modal-wrap">
        <input
          placeholder="Сьогодні"
          type="date"
          name="user-date"
          class="modal-input"
          required
          id="user-date"
        />
        <label for="user-date" class="user-name-text"
          >На яку дату бронювати?</label
        >
      </div>
      <button type="submit" class="button-submit">ОФОРМИТИ БРОНЮВАННЯ</button>
    </form>
  </div>
</div>
