<div class="backdrop is-hidden" data-modal-book-room>
  <div class="modal">
    <button type="button" class="modal-close" data-modal-close>
      <svg class="modal-close-icon" width="18px" height="18px">
        <use href="./images/icons.svg#icon-close_modal"></use>
      </svg>
    </button>

    <h2 class="modal-title">ЗАБРОНЮВАТИ НОМЕР</h2>
    <form class="modal-form">
      <div class="modal-wrap">
        <input
          type="text"
          name="user-name"
          class="modal-input"
          placeholder="Ваше ім’я"
          pattern="\w{3,16}"
          required
          id="user-name"
        />

        <label for="user-name" class="user-name-text"
          >На кого забронювати номер?</label
        >
      </div>
      <div class="modal-wrap">
        <input
          type="tel"
          name="user-tel"
          class="modal-input"
          placeholder="+38 (___) ___-__-__"
          pattern="+[0-9]{3}-[0-9]{3}-[0-9]{4}"
          required
          id="user-tel"
        />
        <label for="user-tel" class="user-name-text">Номер телефону</label>
      </div>
      <div class="modal-wrap-room">
        <select id="user-room" name="user-room" class="modal-input">
          <option value="Двомісний номер">Двомісний номер</option>
          <option value="Двомісний люкс" selected>Двомісний люкс</option>
          <option value="Трьохмісний номер">Трьохмісний номер</option>
        </select>
        <label for="user-room" class="user-name-text">Категорія номеру</label>
      </div>
      <div class="modal-wrap">
        <input
          placeholder="Сьогодні"
          type="date"
          name="user-in-date"
          class="modal-input"
          required
          id="user-in-date"
        />
        <label for="user-date" class="user-name-text-date">Дата заїзду</label>
      </div>
      <div class="modal-wrap">
        <input
          placeholder="Сьогодні"
          type="date"
          name="user-out-date"
          class="modal-input"
          required
          id="user-out-date"
        />
        <label for="user-date" class="user-name-text-date">Дата виїзду</label>
      </div>
      <button type="submit" class="button-submit">ОФОРМИТИ БРОНЮВАННЯ</button>
    </form>
  </div>
</div>
