<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Контакти</h2>
    <p>Міміно</p>
    <p>Ресторанно-готельний комплекс</p>
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <a href="">Ресторан</a><a href="tel:0955559533">095 555 95 33</a>
      </li>
      <li class="contacts-list__item">
        <a href="">Готель</a>
        <ul class="phone-number-list">
          <li class="phone-number-list">
            <a href="tel:0668491089">066 849 10 89</a>
          </li>
          <li class="phone-number-list">
            <a href="tel:0672758540">067 275 85 40</a>
          </li>
        </ul>
      </li>
    </ul>
    <address class="address">
      <a href="" class="location">Україна, м. Полтава, <br />
      вул. Маршала Бірюзова, 15</a>
    </address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43413.33349583916!2d34.498593986479314!3d49.58249759498887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0ZfQvdCwLCAzNjAwMA!5e1!3m2!1suk!2sde!4v1670680936036!5m2!1suk!2sde" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
  </div>
</section>
