<section class="contact">
  <div class="container contact__container">
    <div class="contact__wrap">
      <h2 class="visually-hidden">Контакти</h2>
      <h3 class="contact__title">MIMIHO</h3>
      <p class="contact__title-name">Ресторанно-готельний комплекс</p>
      <ul class="contact__list">
        <li class="contact__item">
          <p class="contact__text">Ресторан</p>
          <div class="contact__box-1">
            <a class="contact__box-text" href="tel:+380955559533">
              <svg class="contact__icon" Width="24px" height="24px">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              095 555 95 33
            </a>
          </div>
        </li>
        <li class="contact__item">
          <p class="contact__text">Готель</p>
          <div class="contact__box-2">
            <a class="contact__box-text" href="tel:+380955559533">
              <svg class="contact__icon" Width="24px" height="24px">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              066 849 10 89</a
            >
            <a class="contact__box-text" href="tel:+380672758540"
              >067 275 85 40</a
            >
          </div>
        </li>
        <li class="contact__item">
          <div class="contact__box-3">
            <a class="contact__box-text contact__location-text" href="https://goo.gl/maps/wJHR6oR1RSBU5bay5" target="_blank" rel="nofollow noopener noreferrer">
              <svg class="contact__icon-location" width="24px" height="24px">
                <use href="./images/icons.svg#icon-location"></use>
              </svg>
              Україна, м. Полтава,<br />
              вул. Маршала Бірюзова, 15
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="contact__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2585.9304220134495!2d34.52650511819095!3d49.599061526510035!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1suk!2sde!4v1670882129108!5m2!1suk!2sde"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="map"
      ></iframe>
    </div>
  </div>
</section>
