<section class="details-hotel">
  <div class="container">
    <p class="details-hotel__logo">Mіміно</p>
    <h2 class="details-hotel__title">Ресторан</h2>
    <p class="details-hotel__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
  </div>
  <ul class="slider-details">
    <li class="slider-details__item">
      <picture>
        <img src="" alt="" sizes="(min-width: 1024px) 270px, 274px" />
      </picture>
    </li>
    <li class="slider-details__item">
      <picture>
        <img src="" alt="" width="162px" />
      </picture>
    </li>
    <li class="slider-details__item">
      <picture>
        <img src="" alt="" sizes="(min-width: 1024px) 270px, 274px" />
      </picture>
    </li>
    <li class="slider-details__item">
      <picture>
        <img src="" alt="" sizes="(min-width: 1024px) 270px, 274px" />
      </picture>
    </li>
    <li class="slider-details__item">
      <picture>
        <img src="" alt="" width="162px" />
      </picture>
    </li>
    <li class="slider-details__item">
      <picture>
        <img src="" alt="" sizes="(min-width: 1024px) 270px, 274px" />
      </picture>
    </li>
  </ul>
  <ul class="buttons-list">
    <li class="buttons-list__item">
      <button type="button" class="button-primary">Забронювати столик</button>
    </li>
    <li class="buttons-list__item">
      <button type="button" class="button-primary">Переглянути меню</button>
    </li>
  </ul>
</section>
