<section class="details-restaurant">
  <div class="container">
    <div class="details-restaurant__text-container">
      <p class="details-restaurant__logo">Mіміно</p>
      <h2 class="details-restaurant__title">Ресторан</h2>
      <p class="details-restaurant__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="destails-restaurant__thumb">
      <ul class="slider-details">
        <li class="slider-details__item">
          <picture>
            <source
              srcset="
                ./images/home/desktop/hmpg-9sl-ds.jpg    1x,
                ./images/home/desktop/hmpg-9sl-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-9sl-tb.jpg    1x,
                ./images/home/tablet/hmpg-9sl-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-9sl-mb.jpg    1x,
                ./images/home/mobile/hmpg-9sl-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
            <img
              src="./images/home/mobile/hmpg-9sl-mb.jpg"
              alt="стейк с приправами"
              sizes="(min-width: 1024px) 270px, 274px"
            />
          </picture>
        </li>
        <li class="slider-details__item">
          <picture>
            <source
              srcset="
                ./images/home/desktop/hmpg-10sl-ds.jpg    1x,
                ./images/home/desktop/hmpg-10sl-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-10sl-tb.jpg    1x,
                ./images/home/tablet/hmpg-10sl-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-10sl-mb.jpg    1x,
                ./images/home/mobile/hmpg-10sl-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
            <img
              src="./images/home/mobile/hmpg-10sl-mb.jpg"
              alt="шашлик на дерев'яній дошці"
              width="(min-width: 1024) 162px, 274px"
            />
          </picture>
        </li>
        <li class="slider-details__item">
          <picture>
            <source
              srcset="
                ./images/home/desktop/hmpg-11sl-ds.jpg    1x,
                ./images/home/desktop/hmpg-11sl-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-11sl-tb.jpg    1x,
                ./images/home/tablet/hmpg-11sl-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-11sl-mb.jpg    1x,
                ./images/home/mobile/hmpg-11sl-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
            <img
              src="./images/home/mobile/hmpg-11sl-mb.jpg"
              alt="салат у мисці"
              sizes="(min-width: 1024px) 270px, 274px"
            />
          </picture>
        </li>
        <li class="slider-details__item">
          <picture>
            <source
              srcset="
                ./images/home/desktop/hmpg-9sl-ds.jpg    1x,
                ./images/home/desktop/hmpg-9sl-ds@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/tablet/hmpg-9sl-tb.jpg    1x,
                ./images/home/tablet/hmpg-9sl-tb@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/home/mobile/hmpg-9sl-mb.jpg    1x,
                ./images/home/mobile/hmpg-9sl-mb@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              type="image/jpeg"
            />
            <img
              src="./images/home/mobile/hmpg-9sl-mb.jpg"
              alt="стейк с приправами"
              sizes="(min-width: 1024px) 270px, 274px"
            />
          </picture>
        </li>
      </ul>
      <ul class="buttons-list">
        <li class="buttons-list__item">
          <button type="button" class="button-primary">
            Забронювати столик
          </button>
        </li>
        <li class="buttons-list__item">
          <a href="./restaurant.html" class="button-primary"
            >Переглянути меню</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
