<section class="details-hotel">
  <div class="container">
    <div class="details-hotel__text-container">
      <p class="details-hotel__logo">Mimiho</p>
      <h2 class="details-hotel__title">Готель</h2>
      <p class="details-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details-hotel__thumb">
      <div class="slider-details-thumb slider-details-thumb--mirrored">
        <ul class="slider-details slider-details--mirrored homepage-slider-details">
          <li class="slider-details__item">
            <source media="(min-width: 1280px)" srcset="./images/hotel/desktop/htpg-11sl-ds.jpg 1x, ./images/hotel/desktop/htpg-11sl-ds2x.jpg 2x">
            <source media="(min-width: 1024px)" srcset="./images/hotel/tablet/htpg-11sl-tb.jpg 1x, ./images/hotel/tablet/htpg-11sl-tb2x.jpg 2x">
            <source media="(max-width: 1023px)" srcset="./images/hotel/mobile/htpg-11sl-mb.jpg 1x, ./images/hotel/mobile/htpg-11sl-mb2x.jpg 2x">
            <img sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px" src="./images/hotel/mobile/htpg-11sl-mb.jpg" alt="Сніданок на терасі">
          </li>
          <li class="slider-details__item">
            <source media="(min-width: 1280px)" srcset="./images/hotel/desktop/htpg-8sl-ds.jpg 1x, ./images/hotel/desktop/htpg-8sl-ds2x.jpg 2x">
            <source media="(min-width: 1024px)" srcset="./images/hotel/tablet/htpg-8sl-tb.jpg 1x, ./images/hotel/tablet/htpg-8sl-tb2x.jpg 2x">
            <source media="(max-width: 1023px)" srcset="./images/hotel/mobile/htpg-8sl-mb.jpg 1x, ./images/hotel/mobile/htpg-8sl-mb2x.jpg 2x">
            <img sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px" src="./images/hotel/mobile/htpg-8sl-mb.jpg" alt="SPA процедури">
          </li>
          <li class="slider-details__item">
          <source media="(min-width: 1280px)" srcset="./images/hotel/desktop/htpg-4sl-ds.jpg 1x, ./images/hotel/desktop/htpg-4sl-ds2x.jpg 2x">
            <source media="(min-width: 1024px)" srcset="./images/hotel/tablet/htpg-4sl-tb.jpg 1x, ./images/hotel/tablet/htpg-4sl-tb2x.jpg 2x">
            <source media="(max-width: 1023px)" srcset="./images/hotel/mobile/htpg-4sl-mb.jpg 1x, ./images/hotel/mobile/htpg-4sl-mb2x.jpg 2x">
            <img sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px" src="./images/hotel/mobile/htpg-4sl-mb.jpg" alt="Ванна">
          </li>
        </ul>
      </div>
      <ul class="buttons-list buttons-list__details-hotel">
        <li class="buttons-list__item">
          <button type="button" class="button-primary js-open-modal" data-modal="2">
            Забронювати номер
          </button>
        </li>
        <li class="buttons-list__item">
          <a href="./hotel.html" class="button-primary"
            >Переглянути ціни</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>