<footer class="footer">
  <div class="container footer__container">
    <a class="footer__logo link" href="./index.html">Міміно</a>
    <ul class="list footer__list">
      <li>
        <a class="link footer__link" href="./index.html">Головна</a>
      </li>
      <li>
        <a class="link footer__link" href="./restaurant.html">Ресторан</a>
      </li>
      <li>
        <a class="link footer__link" href="./hotel.html">Готель</a>
      </li>
    </ul>
    <ul class="list soc-list">
      <li class="soc-list__container-icon">
        <a href="" class="soc-list__link">
          <span>Instagram</span>
          <svg width="24" height="24">
            <use href="./images/my-icons.svg#icon-instagram-2"></use>
          </svg>
        </a>
      </li>
      <li class="soc-list__container-icon">
        <a href="" class="soc-list__link">
          <span>Facebook</span>
          <svg width="24" height="24">
            <use href="./images/my-icons.svg#icon-facebook-1"></use>
          </svg>
        </a>
      </li>
      <li class="soc-list__container-icon">
        <a href="" class="soc-list__link">
          <span>Telegram</span>
          <svg width="24" height="24">
            <use href="./images/my-icons.svg#icon-send"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
