<footer class="footer">
  <div class="container footer__container">
    
    <a class="footer__logo link" href="./index.html">Mimino</a>
    
    <div>
      <ul class="list footer__list">
        <li class="footer__link-wrap">
          <a class="link footer__link" href="./index.html">Головна</a>
        </li>
        <li class="footer__link-wrap">
          <a class="link footer__link" href="./restaurant.html">Ресторан</a>
        </li>
        <li class="footer__link-wrap">
          <a class="link footer__link" href="./hotel.html">Готель</a>
        </li>
      </ul>
      <ul class="list soc-list">
        <li class="soc-list__container-icon">
          <a
            href=""
            class="soc-list__link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="soc-list__text">Instagram</span>
            <svg class="soc-list__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="soc-list__container-icon">
          <a
            href=""
            class="soc-list__link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="soc-list__text">Facebook</span>
            <svg class="soc-list__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="soc-list__container-icon">
          <a
            href=""
            class="soc-list__link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="soc-list__text">Telegram</span>
            <svg class="soc-list__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
