<div class="container">
<header class="header">
<div class="header__container">
    <a href="./index.html" class="logo link">
    <span class="logo__name">Mimiho</a>
    <nav class="navigation">
        <div class="navigation-container">
        <ul class="navigation-list">
            <li class="navigation__list__item "> 
                <a href="./index.html" class="navigation__list__link ">Ресторан
                    <svg class="header__icon" wight="24" height="24">
                    <use href="./images/icons.svg#icon-phone"></use>
                  </svg>
                </a>
                </li>
            
            <li class="navigation__list__item "> <a href="./index.html" class="navigation__list__link">Готель
                <svg class="header__icon" wight="24" height="24">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
            </a>
        </li>
            
        </ul>
        <!-- <ul class="navigation__list__tel">
            <li><a href="tel:+38095 555 95 33" class="navigation__list__tel__item tel-item">095 555 95 33</a></li>
            <li><a href="tel:+38066 849 10 89" class="navigation__list__tel__item">066 849 10 89</a></li>
            <li><a href="tel:+38067 275 85 40" class="navigation__list__tel__item">067 275 85 40</a></li>
        </ul> -->
    </div>
    </nav>
</div>

</header> </div> 