<header>

    <a href="./index.html" class="logo link">
    <span class="logo__name">Міміно</a>
    <nav class="navigation">
        <ul class="navigation-list">
            <li class="navigation__list__item "> <a href="./index.html" class="navigation__list__link link ">Ресторан</a></li>
            <li class="navigation__list__item "> <a href="./index.html" class="navigation__list__link link ">Готель</a></li>
        </ul>
    </nav>

    <a href="" class="header__address link">Україна, м. Полтава, вул. Маршала Бірюзова, 15</a>
</header>  