<header class="header room__header">
<div class="container">
  <div class="header-container">
    <a href="./index.html" class="logo link">
    <span class="logo__name">Mimiho</a>

    <nav class="navigation">
        <div class="navigation-container">
        <ul class="navigation-list">
            <li class="navigation__list__item "> 
                <a href="./restaurant.html" class="navigation__list__link ">Ресторан
                    <svg class="header__icon" wight="24" height="24">
                    <use href="./images/icons.svg#icon-phone"></use>
                  </svg>
                </a>
                </li>
            
            <li class="navigation__list__item "> <a href="./hotel.html" class="navigation__list__link">Готель
                <svg class="header__icon" wight="24" height="24">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
            </a>
        </li>
       </ul>
     </div>
    </nav>


    <nav class="navigation__tablet">
        <ul class="navigation__tablet__list">
            <li class="navigation__tablet__list__item"> <a href="./restaurant.html" class="navigation__tablet__list__link">Ресторан</a></li>

            <li class="navigation__tablet__list__item bordered"><a href="tel:+38095 555 95 33" class="navigation__tablet__list__tel">
                <svg class="header__icon__tablet" wight="24" height="24">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>095 555 95 33</a> </li>

            <li class="navigation__tablet__list__item"> <a href="./hotel.html" class="navigation__tablet__list__link">Готель</a> </li>
            
            <li class="navigation__tablet__list__item bordered">
                <a href="tel:+38066 849 10 89" class="navigation__tablet__list__tel">
                    <svg class="header__icon__tablet" wight="24" height="24">
                    <use href="./images/icons.svg#icon-phone"></use>
                  </svg>066 849 10 89</a> 
                <a href="tel:+38067 275 85 40" class="navigation__tablet__list__tel"> 066 849 10 89</a>
                </li>   
        </ul>
        
    </nav>
    <ul class="hero__socials__desktop">
          <li class="hero__socials__link"> <a href="https://www.instagram.com/mimino.poltava/" target="_blank" rel="nofollow noopener noreferrer">
              <svg class="hero__soc__icon" wight="22" height="22">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg></a></li>
          <li class="hero__socials__link"> <a href="https://www.facebook.com" target="_blank" rel="nofollow noopener noreferrer"><svg class="hero__soc__icon" wight="22" height="22">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg></a></li>
          <li class="hero__socials__link"> <a href="https://web.telegram.org/" target="_blank" rel="nofollow noopener noreferrer"><svg class="hero__soc__icon" wight="22" height="22">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg></a></li>
      </ul>
  </div>
</div>
</header> 

