<section class="hero">   
    <div class="container">
    <div class="hero__subcontainer">
    <h1 class="hero__title">Mimiho</h1>
    <h2 class="hero__pretitle">Ресторанно-готельний комплекс</h2>
    <p class="hero__text">Смак життя 24/7</p>
    
<div class="hero__buttons">
    <button type="button" class="hero__button button-primary">Забронювати столик
    </button>
    <button type="button" class="hero__button button-primary">Забронювати номер
    </button>
</div>
<a href="https://goo.gl/maps/wJHR6oR1RSBU5bay5" target="_blank" rel="nofollow noopener noreferrer" class="rest__address link"><svg class="icon-location" wight="24" height="24">
    <use href="./images/icons.svg#icon-location"></use>
  </svg> 
    Україна, м. Полтава, вул. Маршала Бірюзова, 15</a>
    <ul class="hero__socials">
        <li class="hero__socials__link"> <a href="https://www.instagram.com/mimino.poltava/" target="_blank" rel="nofollow noopener noreferrer">
            <svg class="hero__soc__icon" wight="22" height="22">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg></a></li>
        <li class="hero__socials__link"> <a href="https://www.facebook.com" target="_blank" rel="nofollow noopener noreferrer"><svg class="hero__soc__icon" wight="22" height="22">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg></a></li>
        <li class="hero__socials__link"> <a href="https://web.telegram.org/" target="_blank" rel="nofollow noopener noreferrer"><svg class="hero__soc__icon" wight="22" height="22">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg></a></li>
    </ul>
</div>
</div> 
</section>
