<div class="modal" data-modal="3">
  <div class="modal-wrapper">
    <button type="button" class="modal__close js-modal-close">
      <svg class="modal__close-icon" width="18px" height="18px">
        <use href="./images/icons.svg#icon-close_modal"></use>
      </svg>
    </button>

    <h2 class="modal__title">ЦІНИ НА НОМЕР</h2>
    <form class="modal-form">
      <div class="modal-wrap-room">
        <select id="user-room" name="user-room" class="modal-input">
          <option value="Двомісний номер">Двомісний номер</option>
          <option value="Двомісний люкс" selected>Двомісний люкс</option>
          <option value="Трьохмісний номер">Трьохмісний номер</option>
        </select>
        <label for="user-room" class="user-name-text">Категорія номеру</label>
      </div>
      <div class="modal-wrap">
        <select id="user-number" name="user-number" class="modal-input">
          <option value="1">1</option>
          <option value="2" selected>2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
        <label for="user-number" class="user-name-text">Кількість ночей</label>
      </div>
      <div class="modal-wrap">
        <input
          placeholder="1000"
          type="number"
          name="user-price"
          class="modal-input"
          id="user-price"
        />
        <label for="user-date" class="user-name-text">грн</label>
      </div>
      <button type="submit" class="button-submit">ЗАБРОНЮВАТИ НОМЕР</button>
    </form>
  </div>
</div>
