.button-primary {
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    padding: 14px 24px;
    min-width: 236px;
    text-align: center;
    border: 2px solid $mainLightColor;
    background-color: $buttonBgColor;
       
    // шрифт
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $accentColor;

  // шрифт
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $accentColor;

  transition: background-color $duration $timingFunction;
  &:hover,
  &:focus {
    background-color: $mainLightColor;
  }
}

.button-secondary {
  @extend .button-primary;
  background-color: $mainDarkColor;
}

.button-tertiary {
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
  padding: 20px 43px;
  border: 1px solid $accentColor;
  background-color: $mainDarkColor;
  text-align: center;

  // шрифт
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: $mainLightColor;

  transition: color $duration $timingFunction,
    background-color $duration $timingFunction;
  &:hover,
  &:focus {
    color: $mainDarkColor;
    background-color: $accentColor;
  }
  @include tablet {
    min-width: 384px;
  }
  @include desktop {
    padding: 18px 38px;
    font-size: 24px;
  }
}

.button-modal {
  cursor: pointer;
  width: 100%;
  padding: 20px 40px;
  border-radius: 2px;
  border: 1px solid $accentColor;
  text-align: center;
  background-color: $mainDarkColor;

  // шрифт
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: $mainLightColor;

  transition: color $duration $timingFunction,
    background-color $duration $timingFunction;
  &:hover,
  &:focus {
    color: $mainDarkColor;
    background-color: $accentColor;
  }
  @include tablet {
    padding: 18px 110px;
    font-size: 24px;
  }
}
