.container {
  max-width: 414px;
  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    max-width: 1024px;
    padding: 0 47px;
  }
  @include desktop {
    max-width: 1280px;
    padding: 0 85px;
  }
}

