.modal {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0 16px;
  @include mobile {
    width: 414px;
  }
  @include tablet {
    width: 712px;
    padding: 0 60px;
  }
  background-color: $primaryBgColor;
  display: block;
  position: absolute;
  padding: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.modal-close {
  display: block;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 16px;
  top: 16px;
  margin-left: auto;
  margin-right: auto;
  fill: $mainDarkColor;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $accentColor;
  }
}

.modal-title {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.05em;
  margin-top: 60px;
  margin-bottom: 40px;
  color: $mainDarkColor;
  text-align: center;
}
.modal-input {
  width: 100%;
  height: 54px;
  border: 1px solid $secondaryAccentColor;
  border-radius: 2px;
  padding-left: 12px;
  outline: transparent;
  cursor: pointer;
  &:focus {
    border-color: $secondaryAccentColor;
  }
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: $modalPlaceholderColor;
  background-color: $primaryBgColor;
}

input[type='date'] {
  background-image: url('../images/arrow-down.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 24px auto, 100%;
}
input[type='date']::before {
  content: attr(placeholder);
  width: 100%;
}
input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}

.modal-input::-webkit-inner-spin-button,
.modal-input::-webkit-calendar-picker-indicator {
  display: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select {
  padding-right: 30px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../images/arrow-down.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 24px auto, 100%;
}
select::-ms-expand {
  display: none;
}
.modal-wrap {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  @include tablet {
    width: 288px;
  }
}
.modal-wrap-room {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  @include tablet {
    margin-left: 304px;
    width: 288px;
  }
}
.user-name-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
  color: $secondaryAccentColor;
  padding-left: 12px;
  margin-top: 8px;
}
.button-submit {
  @extend .button-modal;
  margin-top: 20px;
  margin-bottom: 60px;
}
.user-name-text-date {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: $secondaryAccentColor;
  padding-left: 12px;
  margin-top: 8px;
}
