.footer {
  background: $footerBgColor;
  padding-top: 40px;
  padding-bottom: 40px;
  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__list {
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 0px;
  }
}

.footer__logo,
.footer__link {
  color: $accentColor;
  transition: color $duration $timingFunction;
  &:hover,
  &:focus {
    color: $mainLightColor;
  }
}

.footer__logo {
  font-family: 'Film P3', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  text-transform: lowercase;
  @include tablet {
    font-size: 64px;
    line-height: calc(69 / 64);
  }
}
.footer__links {
  @include tablet {
    display: flex;
    gap: 120px;
  }
  @include desktop {
    gap: 190px;
  }
}
.footer__link {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: $accentColor;
}
.footer__link-wrap:not(:last-child) {
  margin-bottom: 16px;
}
.soc-list {
  display: flex;
  gap: 20px;
  @include tablet {
    flex-direction: column-reverse;
    gap: 12px;
  }
}

.soc-list__link {
  position: relative;
  fill: $accentColor;
  transition: fill $duration $timingFunction;

  &:hover,
  &:focus {
    fill: $mainLightColor;
  }
}

.soc-list__text {
  display: none;
  @include tablet {
    display: block;
    width: 143px;
    height: 40px;
    border: 0.5px solid;
    border-color: $accentColor;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    color: $accentColor;
    font-size: 16px;
    line-height: calc(20 / 16);

    transition: color $duration $timingFunction,
    border-color $duration $timingFunction;

    &:hover,
    &:focus {
      color: $mainLightColor;
      border-color: $mainLightColor;
    }
  }
}

.soc-list__icon {
  display: flex;
  align-items: center;

  @include tablet {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}
