.header-container {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
}
.header-grad {
  position: absolute;
   left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);
  width: 414px;
  height: 143px;
  z-index: -1;
@include tablet {
width: 1024px;
height: 116px;
}
@include desktop {
  width: 1280px;
  height: 147px;
}
}

.logo__name {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: $mainLightColor;

  margin-top: 16px; 
  @include tablet {

  font-size: 40px;
  line-height: 1.08;
  }
}

.navigation-list {
  display: flex;
  max-width: 100%;
}

.navigation__list__link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  font-size: 16px;
  display: flex;
  color: $accentColor;
  align-items: center;
}

.navigation__list__item:not(:last-child){
  margin-right: 20px;
}

.navigation {
  margin-left: 49px;
  @media screen and (max-width: 413px) {
    margin-left: 15px;
  }
}

.navigation {
  @include tablet {
    display: none;
  }
}

.navigation__tablet {
  @media screen and (max-width: 1023px) {
    display: none;
  }
  @include tablet {
    margin-left: 87px;
  }
  @include desktop {
    margin-left: 96px;
  }
}

.navigation__tablet__list {
  display: flex;
}

.navigation-container {
  display: flex;
}

.navigation__tablet-container {
  display: flex;
}

.header__icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 6px;
  @media screen and (max-width: 413px) {
    display: none;
  }
}

.header__icon__tablet {
  width: 24px;
  height: 24px;
  fill: $accentColor;
}

.navigation__tablet__list__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: $accentColor;

  display: flex;
  align-items: center;
  margin-right: 39px;
}

.navigation__tablet__list__item.bordered {
  display: flex;
  padding: 3px 4px;
  border: 1px solid $accentBorderColor;
  border-radius: 2px;
}

.navigation__tablet__list__item.bordered:not(:last-child) {
  margin-right: 73px;
}

.navigation__tablet__list__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: $mainLightColor;
}

.navigation__tablet__list__tel:nth-child(2) {
  margin-left: 16px;
}
