.hero{

    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), 
    url(../images/home/mobile/hmpg-1-mb.jpg);
    background-color: rgba(0, 0, 0, 0.65);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
   
    padding-bottom: 20px;
height: 740px;
@include retina
{background-image:  linear-gradient(to bottom,rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), 
    url(../images/home/mobile/hmpg-1-mb@2x.jpg); }
@include tablet{
    height: 720px;
    
background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),
url(../images/home/tablet/hmpg-1-tb.jpg);
    
  @include retina
 {
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),
                    url(../images/home/tablet/hmpg-1-tb@2x.jpg);
    }  

 }

@include desktop 
    {background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),
    url(../images/home/desktop/hmpg-1-ds.jpg);
                    
    @include retina { background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),
        url(../images/home/desktop/hmpg-1-ds@2x.jpg);
    }
    max-width: 1920px;
    }
}

.hero__subcontainer{
position: relative;
}
.rest__address {
position: absolute;
top: 55px;
left: 170px;
@include tablet{
top: 565px;
left: 0;
  
}

    width: 210px;
    height: 47px;
    
    display: flex;
    flex-wrap: nowrap;
    padding: 2px 5px 2px 5px;
    margin-left: auto;
    align-items: center;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    
    color: #E5E5E5;
    
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;

 
    }
    .icon-location{
        margin-right: 8px;
    }
    .hero__title{
        display: flex;
        justify-content: center;
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 96px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    text-transform: uppercase;

    color: #FFFFFF;
padding-top: 130px;
    margin-bottom: 24px;
@include tablet{
    padding-top: 188px;
    margin-bottom: 16px;
}
    }
.hero__pretitle{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.02em;
    
    color: #FFFFFF;

    margin-bottom: 40px;
    @include tablet{
    margin-bottom: 56px;}
}
.hero__text{
    display: flex;
    justify-content: center;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
   letter-spacing: 0.05em;
   text-transform: uppercase; 

    color: #FFFFFF;
    margin-bottom: 113px;
    @include tablet{
        margin-bottom: 145px;
    }
}

.hero__button{
width: 236px;
height: 48px;

font-weight: 700;
font-size: 16px;
line-height: 1.25;

color: #F3C653;

background: rgba(0, 0, 0, 0.4);
border: 2px solid #FFFFFF;
border-radius: 25px;
&:hover,
&:focus{
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    }
}
.hero__button:not(:last-child){
    margin-bottom: 24px;
    @include  tablet{
        margin-bottom: 0;
    }
}
.hero__buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 61px;
    margin-right: 0;
    @include tablet{
    flex-wrap: nowrap;
    gap: 40px;
 margin-left: auto;
 justify-content: end;
 margin-bottom: 0;
}
}
.hero__socials{
    display: flex;
    position: absolute;
    bottom: -135px;
    left: 0;

    @include tablet{
    bottom: -85px;
    left: 0;
    }
    @include desktop{
        left: 1050px;
        bottom: 560px;
    }
    
}
.hero__socials__link:not(:last-child){
    margin-right: 23px;
}

.hero__soc__icon{
    fill: #F3C653;
    width: 22px;
  height: 22px;
}
.icon-location{
fill:#F3C653;
width: 24px;
height: 24px;
}