.hero {
    background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor), 
    url(../images/home/mobile/hmpg-1-mb.jpg);
    background-color: $heroBgColor;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;

    padding-bottom: 20px;
    height: 740px;
    @include retina {
    background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor), 
    url(../images/home/mobile/hmpg-1-mb@2x.jpg); }
    @include tablet {
    height: 720px;
    background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
    url(../images/home/tablet/hmpg-1-tb.jpg);
    
    @include retina {
    background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
    url(../images/home/tablet/hmpg-1-tb@2x.jpg);
    }  
}
    @include desktop {
    background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
    url(../images/home/desktop/hmpg-1-ds.jpg);

    @include retina {
        background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
        url(../images/home/desktop/hmpg-1-ds@2x.jpg);
    }
    max-width: 1920px;
    }
}

.hero__subcontainer {
    position: relative;
}

.rest__address {
    position: absolute;
    top: 60px;
    left: 175px;    
    width: 210px;
    height: 47px;
    @media screen and (max-width: 413px) {
    left: 90px;
    }
    @include tablet {
    width: 285px;
    height: 56px;   
    top: 570px;
    left: 0;
    @include desktop {
    top: 553px;
    left: 0; 
    }
}
    display: flex;
    flex-wrap: nowrap;
    padding: 2px 5px 2px 5px;
    margin-left: auto;
    align-items: center;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    
    color: $addressColor;
    border: 1px solid $accentBorderColor;
    border-radius: 2px;
}

.icon-location {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.hero__title {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 96px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    text-transform: uppercase;

    color: $mainLightColor;
    padding-top: 181px;
    max-width: 303px;
    margin: 0 auto;
    
    @include tablet {
        padding-top: 188px;
        margin-bottom: 16px;
    }
    @include desktop {
        padding-top: 164px;
        margin-bottom: 32px;
    }
}

.hero__pretitle {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: $mainLightColor;
    margin-top: 24px;
    margin-bottom: 40px;
    @include tablet {
    margin-bottom: 56px;
    }
    @include desktop {
    margin-bottom: 56px;
    }
}

.hero__text {
    text-align: center;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    text-transform: uppercase; 
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $mainLightColor;
    margin-bottom: 113px;
    @include tablet {
        margin-bottom: 145px;
    }
}

.hero__button:not(:last-child) {
    margin-bottom: 24px;
    @include  tablet {
        margin-bottom: 0;
    }
}

.hero__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 61px;
    margin-right: 0;

    @include tablet {
    flex-wrap: nowrap;
    gap: 40px;
    margin-left: auto;
    justify-content: end;
    margin-bottom: 0;
    }
}

.hero__socials {
    display: flex;
    position: absolute;
    bottom: -80px;
    left: 0;
    @media screen and (max-width: 413px) {
        bottom: -85px;
    }
    @include tablet {
        bottom: -85px;
        left: 0;
    }
    @include desktop {
        display: none;
    }
    z-index: 20;   
    @include desktop {
        display: none;
    }
    z-index: 20;   
}

.hero__socials__desktop {
    display: flex;
    margin-left: 61px;
    margin-left: 61px;
    @media screen and (max-width: 1279px) {
    display: none;
    }
}

.hero__socials__link:not(:last-child) {
    margin-right: 20px;
}

.hero__soc__icon {
    fill: $accentColor;
    width: 22px;
    height: 22px;
}

.icon-location {
    fill: $accentColor;
    width: 24px;
    height: 24px;
}