.hero__hotel{

    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), 
    url(../images/hotel/mobile/htpg-1-mb.jpg);
    background-color: rgba(0, 0, 0, 0.65);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
   
    padding-bottom: 20px;
    height: 740px;
    @include retina
    {background-image:  linear-gradient(to bottom,rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), 
        url(../images/hotel/mobile/htpg-1-mb2x.jpg); }
  
    @include tablet{
        height: 720px;
        
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),
    url(../images/hotel/tablet/htpg-1-tb.jpg);
        
      @include retina
     {
        background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),
    url(../images/hotel/tablet/htpg-1-tb2x.jpg);
        }  
    }
    
    @include desktop 
        {background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),
        url(../images/hotel/desktop/htpg-1-ds.jpg);
                        
        @include retina { background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),
            url(../images/hotel/desktop/htpg-1-ds2x.jpg);
        }
        max-width: 1920px;
        }
}