<section class="room__info">
    <div class="container">

        <h2 class="room__info-title">ЗРУЧНОСТІ У НОМЕРІ</h2>

        <p class="room__info-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit
            mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>

        <ul class="room__features">
            <li class="room__features-item">

                <h3 class="room__features-title">
                    ЗАГАЛЬНІ
                </h3>

                <div class="room__features-columns">
                    <p class="room__features-description feature-column-1">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
    
                    <p class="room__features-description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
            </li>

            <li class="room__features-item">
                <h3 class="room__features-title">
                    ВАННА КІМНАТА
                </h3>

                <div class="room__features-columns">
                    <p class="room__features-description feature-column-1 room__vanna-description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
    
                    <p class="room__features-description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
            </li>

            <li class="room__features-item">

                <h3 class="room__features-title">
                    СПАЛЬНЯ
                </h3>

                <p class="room__features-description">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.

                </p>
            </li>

            <li class="room__features-item">
                <h3 class="room__features-title">
                    КУХНЯ
                </h3>

                <div class="room__features-columns">
                    <p class="room__features-description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    </p>
    
                    <p class="room__features-description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    </p>
                </div>
            </li>

            <li class="room__features-item">
                <h3 class="room__features-title">
                    МЕДІА
                </h3>

                <p class="room__features-description">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit
                    mollit.
                </p>
            </li>
        </ul>

            <div class="room__nav">
                <button type="button" class="room__booking-button" data-modal-open-book-room>
                    ОФОРМИТИ БРОНЮВАННЯ
                </button>
            
                <a href="./hotel.html" class="room__back-link">
                    Повернутися до перегляду номерів <svg class="room__back-icon" width="24" height="24"><use href="/src/images/icons.svg#icon-cil_arrow-right"></use></svg>
                </a>
            </div>
    </div>
</section>