<section>
  <div class="hero-slider">
    <div class="hero-slider__item">
      <picture>
        <source
          srcset="
            ./images/room/desktop/rmpg-1sl-ds.jpg   1x,
            ./images/room/desktop/rmpg-1sl-ds2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/room/tablet/rmpg-1sl-tb.jpg   1x,
            ./images/room/tablet/rmpg-1sl-tb2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/room/mobile/rmpg-1sl-mb.jpg   1x,
            ./images/room/mobile/rmpg-1sl-mb2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          src="./images/room/desktop/rmpg-1sl-ds.jpg"
          alt="Інтер'єр готелю"
          width="1280"
        />
      </picture>
    </div>
    <div class="hero-slider__item">
      <picture>
        <source
          srcset="
            ./images/room/desktop/rmpg-2sl-ds.jpg   1x,
            ./images/room/desktop/rmpg-2sl-ds2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/room/tablet/rmpg-2sl-tb.jpg   1x,
            ./images/room/tablet/rmpg-2sl-tb2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/room/mobile/rmpg-2sl-mb.jpg   1x,
            ./images/room/mobile/rmpg-2sl-mb2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          src="./images/room/desktop/rmpg-2sl-ds.jpg"
          alt="Інтер'єр готелю"
          width="1280"
        />
      </picture>
    </div>
    <div class="hero-slider__item">
      <picture>
        <source
          srcset="
            ./images/room/desktop/rmpg-3sl-ds.jpg   1x,
            ./images/room/desktop/rmpg-3sl-ds2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/room/tablet/rmpg-3sl-tb.jpg   1x,
            ./images/room/tablet/rmpg-3sl-tb2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/room/mobile/rmpg-3sl-mb.jpg   1x,
            ./images/room/mobile/rmpg-3sl-mb2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          src="./images/room/desktop/rmpg-3sl-ds.jpg"
          alt="Інтер'єр готелю"
          width="1280"
        />
      </picture>
    </div>
  </div>
  <div class="container">
    <div class="hero__subcontainer">
      <div class="hero-plug"></div>
      <h2 class="hotel__title_hero--room">ДВОМІСНИЙ НОМЕР люкс</h2>
      <p class="hotel__aftetitle_hero">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <a
        href="https://goo.gl/maps/wJHR6oR1RSBU5bay5"
        target="_blank"
        rel="nofollow noopener noreferrer"
        class="rest__address_hero link"
        ><svg class="header__icon icon-location" width="20" height="20">
          <use href="./images/icons.svg#icon-location"></use>
        </svg>
        Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
      >
      <div class="hero-btn-soc">
        <button
          type="button"
          class="button-primary button-primary-hotel button-room js-open-modal"
          data-modal="3"
        >
          Переглянути ціни
        </button>
        <ul class="hero__socials-hotel_hero">
          <li class="hero__socials__link">
            <a
              href="https://www.instagram.com/mimino.poltava/"
              target="_blank"
              rel="nofollow noopener noreferrer"
            >
              <svg class="hero__soc__icon" width="22" height="22">
                <use href="./images/icons.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="hero__socials__link">
            <a
              href="https://www.facebook.com"
              target="_blank"
              rel="nofollow noopener noreferrer"
              ><svg class="hero__soc__icon" width="22" height="22">
                <use href="./images/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="hero__socials__link">
            <a
              href="https://web.telegram.org/"
              target="_blank"
              rel="nofollow noopener noreferrer"
              ><svg class="hero__soc__icon" width="22" height="22">
                <use href="./images/icons.svg#icon-telegram"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
